<li>
  <div class="post-preview">
    {{#link-to 'post' post.id}}
      <h2 class="post-title">
        {{post.headline}}
      </h2>

      <h3 class="post-subtitle clamped">
        {{post.content}}
      </h3>
    {{/link-to}}

    <p class="post-meta">Posted by {{post.author}} on {{moment-format post.date}}
    </p>

  </div>
</li>
