.container {
  padding-top: 65px;
}

ul {
  list-style-type: none;
}

/*.clamped {
    line-height: 1.5;
    overflow: hidden;
    position: relative;
}

.clamped-2 {
    max-height: 3em;
}

.ellipsis {
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill {
    height: 100%;
    position: absolute;
    width: 100%;
}*/

.clamped {
  width: 100%;
  max-height: 3em;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
